<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Pessoas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    h2{
        background: cadetblue;
        color: white;
        font-size: 41px;
        text-align:center;
    }
    #tableDiv{
        background-color:ghostwhite;
    }
    #linkAddPerson{
        text-align: center;
    }

</style>
    <body>
        <div class="container">
            <h2>Lista de Pessoas</h2>
            <div id="tableDiv">
                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                    {% for person in people %}
                    <tr>
                        <td>{{person.name}}</td>
                        <td>{{person.lastname}}</td>
                        <td>{{person.email}}</td>
                        <td>
                            <div class="row">
                                <div class="col-md-3">
                                    <button class="btn btn-warning" type="button"  onclick="location.href='{% url 'update_person' person.id %}'">Editar</button>
<!--                                    <a href="">Editar</a>-->
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger" type="button" data-toggle="modal" onclick="openDeleteModal('{{ person.name }}', '{{ person.id}}')">Deletar</button>
                                    <a href="{% url 'delete_person' person.id %}">Deletar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-12" id="linkAddPerson">
                <a href="{% url 'create_person' %}">Adicionar Nova Pessoa</a>
            </div>
        </div>

        <div class="modal fade" id="delete-person-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Remoção Pessoa</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Sim</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
                        <input id="inputIdPerson" hidden value=""/>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </body>
<script>
    function openDeleteModal(nomePessoa, idPessoa){
        $('delete-person-modal').modal('show');
        $('.modal-body').html("Deseja deletar " + nomePessoa + "?");
        $('#inputIdPerson').val(idPessoa);
    }
    $('.btn btn-danger').on('click', function(){
        let idPessoa = $('#inputIdPerson').val();
        $.ajax({
            url: '/delete_person',
            data: idPessoa,
            type: 'POST',
            async: false,
            success: function(){
                $('#delete-person-modal').modal('hide');
            }
        });
    });

</script>
</html>